@import "tailwindcss";

@plugin "daisyui" {
    themes: light, dark, retro, forest;
}


.fontino {
    font-family: "Spinnaker", sans-serif;
}

.no-password-toggle::-ms-reveal,
.no-password-toggle::-ms-clear,
.no-password-toggle::-webkit-textfield-decoration-container {
    display: none !important;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}